<div>
    <h2>
        <span jhiTranslate="legalTechApp.docStore.home.title">Doc Stores</span>
        <button class="btn btn-primary float-right jh-create-entity create-doc-store" [routerLink]="['/', { outlets: { popup: ['doc-store-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="legalTechApp.docStore.home.createLabel">
            Create new Doc Store
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="docStores">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.locale">Locale</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.code">Code</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.title">Title</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.description">Description</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.contentBinary">Content Binary</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.contentText">Content Text</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.mimeType">Mime Type</span></th>
            <th><span jhiTranslate="legalTechApp.docStore.path">Path</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let docStore of docStores ;trackBy: trackId">
                <td><a [routerLink]="['../doc-store', docStore.id ]">{{docStore.id}}</a></td>
                <td jhiTranslate="{{'legalTechApp.LocaleEnum.' + docStore.locale}}">{{docStore.locale}}</td>
                <td>{{docStore.code}}</td>
                <td>{{docStore.title}}</td>
                <td>{{docStore.description}}</td>
                <td>
                    <a *ngIf="docStore.contentBinary" (click)="openFile(docStore.contentBinaryContentType, docStore.contentBinary)">
                        <img [src]="'data:' + docStore.contentBinaryContentType + ';base64,' + docStore.contentBinary" style="max-height: 30px;" alt="docStore image"/>
                    </a>
                    <span *ngIf="docStore.contentBinary">{{docStore.contentBinaryContentType}}, {{byteSize(docStore.contentBinary)}}</span>
                </td>
                <td>{{docStore.creationDate | date:'medium'}}</td>
                <td>
                    <a *ngIf="docStore.contentText" (click)="openFile(docStore.contentTextContentType, docStore.contentText)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="docStore.contentText">{{docStore.contentTextContentType}}, {{byteSize(docStore.contentText)}}</span>
                </td>
                <td>{{docStore.mimeType}}</td>
                <td>{{docStore.path}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doc-store', docStore.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doc-store/'+ docStore.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doc-store/'+ docStore.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
